# Excluimos archivos relacionados con el sistema
/proc/
/sys/
/dev/
/tmp/
/run/
/boot/
/lib/modules/
/media/
/mnt/
/etc/fstab
/etc/hostname
/etc/hosts
/etc/network/
/etc/resolv.conf

# Excluimos archivos y directorios específicos de la imagen
# /conf/
# /tools/
# /initial_db.sql
